* {
    margin: 0;
    padding: 0;
}

/* variables */
@import './variables/extend';
@import './variables/mixins';
@import './variables/tipografias';

/* componentes */
@import './componentes/body';
@import './componentes/header';
@import './componentes/aside';
@import './componentes/footer';

/* paginas */
@import './secciones/index';
@import './secciones/merchandising';
@import './secciones/galeria';
@import'./secciones/contacto.scss';



/* #fotobio {
    height: 340px;
    width: 250px;
} */

/* paleta de colores */
/* {
    color: #545448;
    color: #050504;
    color: #9C8C28;
    color: #8F8363;
    color: #BD952A;
}
 */



/* estilo de algunas páginas */
form {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    width: 50%;
}

.botones {
    width: 150px;
}



/* .contenedorItems figure {
    padding: 16px 16px 16px 0px;
}



.contenedorHover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorHover figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
}

.contenedorHover figure img {
    transition: all 500ms ease-out;
}

.contenedorHover figure .capa {
    position: absolute;
    top: 0;
    background: black;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorHover figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}
 */

@media screen and (max-width: 930px) {


   /*  .contenedorSection img {
        width: 180px;
        height: 60px;
    } */

    /* .contenedorSection {
        display: flex;
        flex-flow: row-reverse nowrap;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    } */
}