%estiloTitulo{
    font-family: $tipografiaTitulo;
    font-size: 30px;
    padding: 10px;
}

%estiloParrafo{
    font-family: $tipografiaArima;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 25px;
}