body {
    color: #8F8363;
    background-color: #050504;
    font-family: 'Roboto Flex', sans-serif;
    height: 100 vh;
    a{
        text-decoration: none;
        color: #8F8363;
    }
}
.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "main main main aside"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
}
@media screen and (max-width: 930px){
    .container {
        grid-template-areas:
            "header header"
            "main main"
            "main main"
            "aside aside"
            "footer footer";
    }

}